* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

header{
    font-size: 1.2rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 25vh;
    color:rgb(5, 5, 91);
}

form{
    display: flex; 
    justify-content: center;
    align-items: center;
}

form button{
    font-size: 1rem;
    background-color:dodgerblue;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 5px;
}

form input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1rem;
    padding: 5px;
}

/*toDoDiv{
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 2rem;
    background-color: yellow;
}*/

.container{

    display:flex;
    justify-content: center;
    align-items: center;
   
}

.toDoDiv{
    display: flex;
    list-style: none;
    margin: 1rem;
    justify-content: space-between;
    border: 2px;
    border-color:rgb(0, 179, 255);
    border-style: solid;
    padding: 5px;
    background-color: aliceblue;
}

.list{
    min-width: 50%;
}

.toDoTask{
    flex: 1;
}